<div class="container-fluid">
    <div class="row">
        <h3>Estudios</h3>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h5>Centro de e-Learning UTN FRBA</h5>
                    <p>Professional Testing Master<br>
                        (2021 - Finalizado)<br>
                        Conceptos básicos de testing. Técnicas de testing de caja negra y caja
                        blanca. Testing de software orientado a objetos. Aplicaciones WEB basadas
                        en Selenium como Katalon Recorder.
                    </p>
                </li>
                <li>
                    <h5>Universidad Tecnológica Nacional Facultad Regional Córdoba</h5>
                    <p>Tecnicatura Universitaria en Programación<br>
                       (2012 - Primer año cursado)<br>
                       Conceptos de Programación, Sistemas de Procesamiento de Datos,
Arquitectura y Sistemas Operativos de computadoras.
En prácticas de laboratorio aplicamos los conceptos estudiados.
                    </p>
                </li>
                <li>
                    <h5>Formación Complementaria</h5>
                    <p>ARGENTINA PROGRAMA<br>
                        (2021 - en curso)<br>
                        Ministerio de Desarrollo y
Productividad de la Nación y CESSI. Primer módulo aprobado. Certificación
por obtener Desarrollador Full Stack Junior.
                    </p>
                    <p>TESTING DE SOFTWARE<br>
                        (2020 - 2021)<br>
                        Utest.com. El cual forma de prácticas para encontrar y reconocer bug como así también la
correcta manera de reportarlos.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>