<div class="container-fluid">
    <div class="row" id="personalData">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/Perfil.jpeg" class="img-fluid" id="fotoPerfil">
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10" id="presentacion">
            <h3>Bienvenidos a mi Portfolio</h3>
            <h1>Mariano Biazzi</h1>
            <p>Desarrollador Web Full Stack Jr</p>
        </div>
    </div>
    <div class="row2" id="personalDescription">
        <div class="col-md-12">
            <h2>Acerca de mi</h2>
            <p>Persona proactiva que se concentra siempre en soluciones.
            Busco siempre mejorar mi trabajo y aprender nuevas practicas.
            Capaz que adquirir nuevos conceptos de manera eficiente y compartir lo adquirido con los demas.
            Criterioso intento siempre tener una respuesta coherente a lo que hago.
            Generardor de excelente clima laboral siempre dentro de un marco de valores donde se destaca el Respeto.
            </p>
        </div>
    </div>  
</div>