<div class="container-fluid">
    <div class="row">
        <h3>Experiencia Laboral</h3>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h5>Apex América</h5>
                    <p>Operador de Recursos Ópticos<br>
                    (2009 - PRESENTE)<br>
                    Tareas realizadas:<br>
                    - Atención al Cliente<br> 
                    - Auxiliar de Supervisor (administrando recurso humano)<br>  
                    - Auxiliar Analista LOB (realizando reportes para análisis de desempeño)</p>
                </li>
            </ul>
        </div>
    </div>
</div>