<div id="contenedor">
  <div id="central">
      <div id="login">
          <div class="titulo">
              Bienvenido
          </div>
          <form id="loginform" #f="ngForm" (ngSubmit)="onLogin()" nonvalidate>
              <input type="email" id="nombreUsuario" name="usuario" placeholder="Usuario" [(ngModel)]="nombreUsuario" required>
              
              <input type="password" id="password" placeholder="Contraseña" [(ngModel)]="password" required>
              
              <button type="submit" title="Ingresar" name="Ingresar">Login</button>
          </form>
      </div>
      <div class="inferior">
          <a href="#">Volver</a>
      </div>
  </div>
</div>
