<div class="container-fluid">
    <div class="row">
        <h3>Hard and Soft Skills</h3>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <circle-progress
            [percent]="80"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'gold'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'lightblue'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <circle-progress
            [percent]="80"
            [radius]="100"
            [title]="'CSS'"
            [titleColor]="'gold'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'lightblue'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <circle-progress
            [percent]="80"
            [radius]="100"
            [title]="'BootStrap'"
            [titleColor]="'gold'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'lightblue'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
    </div>
</div>
